.best {
    background-image: url(../img/bg/best_bg.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}
.title_best {
    color: $dark;
    margin-bottom: rem(60px);
    margin-top: rem(60px);
}
.best__content {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}
.best__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: $wb;
}
.item__icon{
    width: 100%;
    text-align: center;
}
.item__сaption, .item__text, {
    text-align: center;
    width: 100%;
    margin-top: rem(25px);
}
.meat {
    fill: #e25028;
}
.hand {
    fill: #f8b43a;
}
.natural {
    fill: #8ac03e;
}
.item__сaption {
    font-family: 'Lifehack';
    font-size: 24.1px;
    line-height: 1;
}
.item__text {
    font-family: 'Ubuntu';
    font-size: 14.05px;
    line-height: 1.6;
    color: #848281;
    text-align: justify;
    box-sizing: border-box;
    padding: 0 20px;
}
