.burger {
    background-image: linear-gradient(180deg,#f9b43b 0,#eb8c38 40%,#eb8c38 60%,#eb8c38 0,#f9b43b);
    color: white;
}
.burger__content-container {
    display: flex;
    align-items: flex-start;
}
.burger__img {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.img__top{
    width: 91px;
    height: 91px;
    background: #f08c33;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.icon__burger, {
    fill: white;
    width: 48px;
    height: 45px;
}
.img__text{
    text-transform: uppercase;
    font-family: 'Gagalin';
    font-size: 14px;
} 
.img__bot {
    width: 91px;
    height: 91px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.kkal {
    fill: white;
    width: 64px;
    height: 63px;
}
.burger__content-container {
    margin-bottom: auto;
    margin-top: auto;
}
.burger__content {
    margin-left: 30px;
}
.title_burger{
    color: white;
    line-height: 65px;
    margin-bottom: 35px;
    margin-top: 13px;
}
.burger__content__text {
    font-family: 'Ubuntu-light';
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 10px;
}
.burger__content__price{
    display: flex;
    margin-top: rem(10px);
}
.price, {
    display: flex;
    align-items: baseline;
}
.price__number {
    font-family: 'Gagalin';
    font-size: 72px;
    color: $orange;
    margin-right: 6px;
}
.price__letter {
    font-family: 'Gagalin';
    font-size: 30px;
    color: $orange;
    margin-right: 22px;
}
.burger__scroll__left {
    transform: rotate(90deg);
    position: absolute;
    top: 50%;
    left: 46px;
}
.burger__scroll__right {
    transform: rotate(270deg);
    order: 1;
    position: absolute;
    top: 50%;
    right: 46px;
}
