.burger {
    background-image: linear-gradient(180deg,#f9b43b 0,#eb8c38 40%,#eb8c38 60%,#eb8c38 0,#f9b43b);
    color: white;
}
.burger__content-container {
    display: flex;
    justify-content: center;
    margin-bottom: auto;
    margin-top: auto;

    @include tablets {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
.burger__img {
    display: flex;
    flex-direction: column;
    flex: 1;

    @include tablets {
        flex-direction: row;
    }
}
.img__top{
    width: 91px;
    height: 91px;
    background: #f08c33;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 18px;

    @include tablets {
        top: -28px;
    }
}
.img__text {
    font-family: 'Gagalin';
    font-size: 14px;
}
.img__mid {
    margin-bottom: 15px;
}
.icon__burger, {
    fill: white;
    width: 48px;
    height: 45px;
}
.burger-pic {
    max-width: 100%;
}
.img__bot {
    width: 91px;
    height: 91px;
    display: flex;
    flex-direction: column;
    // align-items: center;
    text-transform: uppercase;
    font-family: 'Gagalin';
    font-size: 14px;
    position: relative;
    padding-left: 15px;
}
.img__number {
    font-size: 20px;
    margin-bottom: 10px; 
}
.kkal__wrap {
    position: absolute;
    top: -27px;
    left: 0;
}
.kkal {
    fill: white;
    width: 64px;
    height: 63px;
}
.burger__content {
    flex: 1;
    margin-left: 30px;
    display: flex;
    flex-direction: column;

    @include tablets {
        align-items: center;
        padding: 0 10%;
        text-align: center;
    }
    @include phones {
        padding: 0;
    }
}
.title_burger{
    color: white;
    line-height: 65px;
    margin-bottom: 35px;
    margin-top: 15px;

    @include tablets {
        margin-bottom: 15px;
    }
}
.burger__content__text {
    font-family: 'Ubuntu-light';
    font-size: 14px;
    line-height: 1.6;
    padding-right: 24px;
    margin-bottom: 10px;
}
.burger__content__price{
    display: flex;
    margin-top: 10px;
}
.price {
    display: flex;
    align-items: baseline;
}
.price__number {
    font-family: 'Gagalin';
    font-size: 72px;
    color: $orange;
    margin-right: 6px;

    @include phones {
        font-size: 50.34px;
    }
}
.price__letter {
    font-family: 'Gagalin';
    font-size: 30px;
    color: $orange;
    margin-right: 22px;

    @include phones {
        font-size: 24.16px;
    }
}
.burger__scroll__left {
    transform: rotate(90deg);
    position: absolute;
    top: 50%;
    left: 46px;

    @include phones {
        left: 10px;
    }
}
.burger__scroll__right {
    transform: rotate(270deg);
    order: 1;
    position: absolute;
    top: 50%;
    right: 46px;

    @include phones {
        right: 10px;
    }
}