@charset "UTF-8";
@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-b-webfont.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-light-webfont.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-medium-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-regular-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

html, body, .wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #2f3234;
}

.section {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.31);
  min-width: 1100px;
  min-height: 650px;
  position: relative;
}

.container {
  width: 1100px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

ul {
  margin: 0;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.btn {
  width: 100px;
  height: 35px;
  background: #e45028;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  color: white;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  padding: 10px 17px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.btn:hover {
  background-color: #c1401e;
}

.title {
  color: #f9b43b;
  font-family: 'Gagalin';
  font-size: 72px;
  font-weight: 400;
  line-height: 1.42;
  margin: 0;
}

.hero {
  background-image: url(../img/bg/hero_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
}

.header {
  width: 100%;
  height: 85px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 80px 0 80px;
}

.header__logo {
  margin-right: auto;
}

.header__menu {
  margin-right: 15px;
}

.nav {
  min-width: 500px;
}

.nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  display: block;
}

.nav__item:after {
  display: inline-block;
  vertical-align: middle;
  content: ' ';
  width: 5px;
  height: 5px;
  -webkit-border-radius: 2.5px;
          border-radius: 2.5px;
  background-color: #fff;
  margin: 0 12px;
}

.nav__item:last-child:after {
  display: none;
}

.nav__link {
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.nav__link:hover {
  text-decoration: underline;
}

.hero__content {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 80px;
  margin: auto 0;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.hero__img, .hero__description {
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 15px;
}

.hero__description {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hero__description-text {
  color: #fff;
  font-family: 'Lifehack';
  font-size: 65px;
  font-weight: 500;
  line-height: 1;
}

.scroll__h {
  position: absolute;
  bottom: 40px;
  left: 50%;
  fill: #fff;
  width: 30px;
  height: 15px;
}

.best {
  background-image: url(../img/bg/best_bg.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  -webkit-background-size: cover;
          background-size: cover;
}

.title_best {
  color: #2f3234;
  margin-bottom: 3.75rem;
  margin-top: 3.75rem;
}

.best__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.best__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33.33333%;
}

.item__icon {
  width: 100%;
  text-align: center;
}

.item__сaption, .item__text {
  text-align: center;
  width: 100%;
  margin-top: 1.5625rem;
}

.meat {
  fill: #e25028;
}

.hand {
  fill: #f8b43a;
}

.natural {
  fill: #8ac03e;
}

.item__сaption {
  font-family: 'Lifehack';
  font-size: 24.1px;
  line-height: 1;
}

.item__text {
  font-family: 'Ubuntu';
  font-size: 14.05px;
  line-height: 1.6;
  color: #848281;
  text-align: justify;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px;
}

.burger {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f9b43b), color-stop(40%, #eb8c38), color-stop(60%, #eb8c38), color-stop(0, #eb8c38), to(#f9b43b));
  background-image: -webkit-linear-gradient(top, #f9b43b 0, #eb8c38 40%, #eb8c38 60%, #eb8c38 0, #f9b43b);
  background-image: -o-linear-gradient(top, #f9b43b 0, #eb8c38 40%, #eb8c38 60%, #eb8c38 0, #f9b43b);
  background-image: linear-gradient(180deg, #f9b43b 0, #eb8c38 40%, #eb8c38 60%, #eb8c38 0, #f9b43b);
  color: white;
}

.container__burger {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  min-height: 650px;
}

.burger__img, .burger__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 46.4%;
  margin-bottom: auto;
  margin-top: auto;
}

.img__top {
  width: 91px;
  height: 91px;
  background: #f08c33;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon__burger {
  fill: white;
  width: 48px;
  height: 45px;
}

.img__text {
  text-transform: uppercase;
  font-family: 'Gagalin';
  font-size: 14px;
}

.img__bot {
  width: 91px;
  height: 91px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.kkal {
  fill: white;
  width: 64px;
  height: 63px;
}

.title_burger {
  color: white;
  line-height: 4.0625rem;
  margin-bottom: 2.5rem;
}

.burger__content__price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.625rem;
}

.price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.price__number {
  font-family: 'Gagalin';
  font-size: 72px;
  color: #e45028;
  margin-right: 10px;
}

.price__letter {
  font-family: 'Gagalin';
  font-size: 30px;
  color: #e45028;
  margin-right: 30px;
}

.burger__btn {
  margin: 58px 0 21px 0;
}

.scroll__b {
  fill: #fff;
  width: 30px;
  height: 15px;
}

.burger__scroll__left {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  height: 15px;
  width: 3.6%;
  margin-bottom: auto;
  margin-top: auto;
}

.burger__scroll__right {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  height: 15px;
  width: 3.6%;
  margin-bottom: auto;
  margin-top: auto;
}
