.hero {
  background-image: url(../img/bg/hero_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  position: relative; }

.header {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px; }

.nav {
  margin-right: rem(15px); }

.nav__list {
  margin: 0;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
