.svg-arrow-scroll {
	width: 28.685px;
	height: 14.479px;
	fill: #fff;
}

.svg-beef {
	width: 44px;
	height: 39.212px;
}

.svg-buns {
	width: 48px;
	height: 30.317px;
}

.svg-burger {
	width: 45.748px;
	height: 44.625px;
}

.svg-cheese {
	width: 38.126px;
	height: 34.138px;
}

.svg-cucumber {
	width: 42px;
	height: 37.754px;
}

.svg-drops {
	width: 450.527px;
	height: 241.369px;
}

.svg-fb {
	width: 36.711px;
	height: 36.711px;
}

.svg-hand {
	width: 73px;
	height: 85.875px;
	fill: #f8b43a;
}

.svg-inst {
	width: 36.663px;
	height: 36.664px;
}

.svg-kkal {
	width: 60px;
	height: 60.178px;
}

.svg-logo {
	width: 98.265px;
	height: 74.317px;
}

.svg-map-marker {
	width: 46px;
	height: 57.727px;
}

.svg-meat {
	width: 96.428px;
	height: 89.246px;
	fill: #e45028;
}

.svg-natural {
	width: 88px;
	height: 75.534px;
	fill: #8ac03e;
}

.svg-phone {
	width: 11px;
	height: 11px;
}

.svg-salad {
	width: 38px;
	height: 38.638px;
}

.svg-sauce {
	width: 40.189px;
	height: 43.416px;
}

.svg-twitter {
	width: 37.453px;
	height: 31.21px;
}

.svg-vk {
	width: 126px;
	height: 72px;
}

